body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* background-image: radial-gradient(rgb(228, 0, 0), rgb(82, 0, 0)); */
    background-image: url("home_src/background.jpg");
    background-size: cover;
    transform: rotate("background.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: repeat-x;
    color:white;
    /* background-image: url(holder.jpg);
    background-size: 15%; */
}
/* a:link, a:visited {
    color: rgb(255, 255, 255);
  }
a:hover {
    color: rgb(127, 127, 127);
}
  a:active {
    color: rgb(0, 0, 0);
 } */
 .poscontainer{
    position: static;
    text-align: center;
}
.homelink{
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.homelink:hover{
background-color: rgb(204, 204, 204);
color: rgb(0, 0, 0);
}
.homelink:active{
background-color: rgb(41, 41, 41);
color: white;
}
.resume{
    max-width: 50%;
    max-height: auto;
    position: relative;
}
.space{
    margin-top: 2%;
    margin-bottom: 2%;
}